* {
  padding: 0;
  margin: 0;
}
html {
  height: 100%;
}
body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.index {
  background-color: burlywood;
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.display {
  height: 50px;
  width: 90%;
  background-color: cornsilk;
  border-radius: 10px;
  margin-bottom: 10px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.button {
  font-size: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid brown;
  margin: 10px;
  border-radius: 5px;
}
