.shibakenn {
  height: 300px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.texts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
