* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0px;

  width: 100%;
}

.header-title {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;

  font-size: 1.5em;
  background-color: #0064A5;
  color: #7FB1D2;
}

.main-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;

  height: 100vh;
  padding: 52px 12px 12px 12px;
  overflow-x: auto;

  background-color: #0076C2;
}

.list-container {
  min-width: 250px;
  width: 250px;
  padding: 8px;

  border-radius: 4px;
  background-color: #E2E4E6;

  &:nth-child(n+2) {
    margin-left: 8px;
  }
}

.list-header {
  height: 60px;
  padding: 8px 0px 0px 4px;
  font-weight: bold;
  font-size: 0.9em;
}

.cards-container {
  max-height: calc(100vh - 200px);
  margin-top: 4px;
  overflow-y: auto;
}

.card {
  position: relative;

  padding: 4px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 0 #ccc;

  &:nth-of-type(n+2) {
    margin-top: 8px;
  }

  &:last-child {
    margin-bottom: 1px;
    word-wrap: break-word;
  }

  .text {
    overflow-x: hidden;
  }

  &:hover {
    background-color: #edeff0;
    border-bottom-color: #d6dadc;

    .delete {
      position: absolute;
      bottom: 4px;
      right: 4px;
      z-index: 16;

      opacity: 0.5;
      color: red;

      &:after {
        content: "削除";
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}

.input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .input-todo {
    height: 2em;
    width: 75%;
    padding: 4px;

    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 0 #ccc;
    font-size: 1em;
    border-width: 0px;

    &:focus {
      outline: 0;
    }
  }

  .input-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 30px;
    padding: 0px 0.5em;

    color: #fff;
    background-color: #2AB643;
    border-radius: 4px;
    border-bottom: 1px solid #2AA138;
    user-select: none;

    &:active {
      transform: translateY(2px);
    }
  }
}

.list-footer {
  margin-top: 8px;
}
