#vending-container{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 300px;
    background: rgb(201, 59, 59);
}

#content-container{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 260px;
    background: rgb(241, 240, 238);
}

.content{
    display: inline-block;
}

.price-display{
    text-align: center;
}

.purchase-button{
    text-align: center;
}

#coin-container{
    text-align: right;
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 120px;
    background: rgb(128, 231, 159);
    margin-left: 140px;
}

.corrency{
    display: inline-block;
    text-align: right;
}

#change-display{
    padding-right: 5px;
    text-align: right;
    position: absolute;
    left: 205px;
    top: 390px;
    border: solid 3px #000000;
    width: 115px;
    background: rgb(216, 224, 219);
}

.outlet-container{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    border: solid 3px #000000;
    width: 260px;
    height: 130px;
    background: rgb(253, 253, 253);
}

.coin{
    top: 30%;left: 30%;
}

.hidden{
    display: none;
}